<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Venda.Properties.Settings.TrabalhoLCConnectionString"
            connectionString="Data Source=DESKTOP-FJF9AOD;Initial Catalog=TrabalhoLC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Venda.Properties.Settings.TrabalhoLCConnectionString1"
            connectionString="Data Source=localhost;Initial Catalog=TrabalhoLC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>